* {
	box-sizing: border-box;
}
body {
	font-family: Arial, sans-serif;
	color: #fff;
	background-image: linear-gradient(-90deg, #7CDBF1, #1E4C96);
	background-repeat: repeat;
	background-size: cover;
}
h1 {
	text-align: center;
}
table {
	border-collapse: collapse;
	margin: 0 auto;
}
form {
	text-align: center;
	margin: 20px;
}
td, th, #error {
	padding: 3px;
	text-align: center;
}
th {
	font-weight: bold;
	background-color: rgba(3, 62, 107, 0.5);
}
input[name="year"] {
	width: 100px;
}
input[name="submit"] {
	height: 2em;
	width: 100px;
	color: #fff;
	background-color: rgba(3, 62, 107, 0.5);
	border: 0px solid rgba(3, 62, 107, 0.5);
	border-bottom: 3px solid rgba(3, 62, 107, 0.9);
	border-right: 3px solid rgba(3, 62, 107, 0.9);
}
.error {
	border-color: #ff0000;
}
#calendar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1000px;
	margin: 10px auto;
	background-color: rgba(0, 0, 0, 0.4);
}
.month {
	display: inline-block;
	padding: 20px;
}
#year-wrapper {
	font-size: 4em;
	font-weight: bold;
	text-align: center;
}

td:nth-child(6), td:nth-child(7), th:nth-child(6), th:nth-child(7) {
	background-color: rgba(188, 47, 54, 0.5);
}
td:nth-child(6):hover, td:nth-child(7):hover, th:nth-child(6):hover, th:nth-child(7):hover {
	background-color: #BC2F36;
}
td:hover, th:hover, input[name="submit"]:hover {
	background-color: rgba(3, 62, 107, 1);
	cursor: pointer;
}